:root {
  --colormain: #424656;
  --colorsub: #A6ABBD;
    
}

header{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  height: 100px;   
  background-color: var(--colormain) ;
  
}

.title {  
  background-color: var(--colorsub);
  font-size: 40px;
  margin-left: 0%;
  padding-left: 10%;
}

/* Navi Style */
nav {
 display: flex;
 justify-content: flex-end;
 margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: var(--colorsub);  
  font-size: 15px;
  padding: 20px;
}

li{
  padding: 0 10px;
}

a[href] {
  color: var(--colorsub);   
  }

  /* Image under Header */
.bravo {
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/Water\ Ripple.jpeg");
}

/* Main Section Begins */

/* About me section */
.box1 {
  margin: 30px auto;
  padding: 30px;
  display: flex;
  width: 50%;
  
}

h1 {
  margin-right: 10px;
  padding-right: 10px;
}

p {
  border-left: 3px solid var(--colormain);
  padding-left: 10px;
}